<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8RrSpMl8xy_w92RjazyfwMqRmXg5_6Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>575673142347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vip.dance.app</string>
	<key>PROJECT_ID</key>
	<string>candela-maker</string>
	<key>STORAGE_BUCKET</key>
	<string>candela-maker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575673142347:ios:ed04fc1c1dfd22e78691ce</string>
</dict>
</plist>